*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e88e5;
    border-bottom:.2rem solid #045daa;
}

.navbar{
    width: 90%;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.navbar ul li{
    list-style: none;
    font-size: 22px;
    padding: .5rem 1rem;
    margin: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color:#1877F2;
}

.navbar ul li:hover{
    transition: 0.5s ease-in;
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 0px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
}

/*Individual component styling*/

/*Area of triangle*/
.container{
    color: white;
    background-color: green;
    text-align: center;
    height: 84vh;
    overflow: hidden;
}
h1{
    padding: 10px;
    margin: 15px 10px;
    font-family: cursive;
}
.label{
    display: block;
    width: 100%;
    font-size: 30px;
    padding: 10px 20px;
    margin: 20px 10px;
}
.side{
    font-size: 24px;
    color: black;
    outline: none;
}
.btn{
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px 5px 10px 5px;
    outline: none;
}
.btn:active{
    transform: scale(0.9);
}

.output{
    margin-top: 30px;
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.triangle-quiz-container{
    margin-bottom: 25px;
}

.question{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 2px;
}

input[type="radio"]{
    margin-right: 5px;
    cursor: pointer;
}

.radio-labels{
    font-size:20px;
    font-family: cursive;
    font-weight: 500;
    letter-spacing: 1px;
    margin:0px 10px;
    padding-left: 3px 5px;
    text-align: center;
    cursor: pointer;
}
